<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{usuario/template_user.html::head}"> </head>

<body>
	<div class="container-fluid position-relative d-flex p-0">
		
		<div th:insert="~{usuario/template_user.html::spinner}"></div>

		<div th:insert="~{usuario/template_user.html::sidebar}"></div>

		<div class="content">

			<div th:insert="~{usuario/template_user.html::navbar}"></div>

			<!-- AQUI DEJAS TU CONTENIDO -->
			<div class="container-fluid pt-4 px-4">
				<div class="col-sm-12 ">
					<div class="bg-secondary rounded h-100 p-4">
						<div></div>
						<h6 class="h2 text-white-50">Correos</h6>
						<table class="table table-borderless">
							<thead>
								<tr class="center">
									<th scope="col" class="text-danger">Nombre</th>
									<th scope="col" class="text-danger">Correo</th>
									<th scope="col" class="text-danger">Contraseña</th>
									
									<th scope="col" class="text-warning">Editar</th>
									<th scope="col" class="text-primary">Eliminar</th>
								</tr>
							</thead>
							<tbody >
								<tr class=" center text-white">
									
									<td th:text="${}"></td>
									<td th:text="${}"></td>
									<td th:text="${}"></td>
									
									<td th:text="${}"></td>
									<td th:text="${}"></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div th:insert="~{usuario/template_user.html::footer}"></div>
		</div>
	</div>
	<div th:insert="~{usuario/template_user.html::jsFiles}"></div>

</body>

</html>