<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{usuario/template_user.html::head}"> </head>

<body>
	<div class="container-fluid position-relative d-flex p-0">

		<div th:insert="~{usuario/template_user.html::spinner}"></div>

		<div th:insert="~{usuario/template_user.html::sidebar}"></div>

		<div class="content">

			<div th:insert="~{usuario/template_user.html::navbar}"></div>

			<!-- AQUI DEJAS TU CONTENIDO -->
			<div class="container-fluid pt-4 px-4">
				<div class="col-sm-12">
					<div class="bg-secondary rounded h-100 p-4">
						<h6 class="h2 text-white-50">Juegos</h6>

						<table class="table table-borderless">
							<thead>
								<tr class="center">
									<th scope="col" class="text-danger">Puesto</th>
									<th scope="col" class="text-danger">Nombre</th>
									<th scope="col" class="text-danger">Calificación</th>
									<th scope="col" class="text-danger">Album</th>
									<th scope="col" class="text-danger">Drive</th>
									<th scope="col" class="text-danger">Correo</th>

									<th scope="col" class="text-info">Detalles</th>
									<th scope="col" class="text-warning">Editar</th>
									<th scope="col" class="text-primary">Eliminar</th>
								</tr>
							</thead>

							<tbody th:each="j : ${juegos}">
								<tr class="center text-white">

									<!-- Puesto con medallas -->
									<td>
									    

									        <!-- Oro 1–3 -->
									        <i th:if="${j.puesto >= 1 && j.puesto <= 3}"
									           class="bi bi-award-fill medalla-oro" style="font-size: 2rem;"></i>

									        <!-- Plata 4–10 -->
									        <i th:if="${j.puesto >= 4 && j.puesto <= 10}"
									           class="bi bi-award-fill medalla-plata" style="font-size: 2rem;"></i>

									        <!-- Bronce 10–15 -->
									        <i th:if="${j.puesto >= 11 && j.puesto <= 15}"
									           class="bi bi-award-fill medalla-bronce" style="font-size: 2rem;"></i>

									        <!-- Verde oscuro 11+ -->
									        <span th:if="${j.puesto >= 16}"
												 th:text="${j.puesto}" class="bi bi-award-fill text-verde-oscuro"></span>

									   
									</td>


									<!-- Nombre con color según puesto -->
									<td th:classappend="${
									        (j.puesto >= 1 && j.puesto <= 3) ? 'text-oro' :
									        (j.puesto >= 4 && j.puesto <= 10) ? 'text-plata' :
									        (j.puesto >= 11 && j.puesto <= 15) ? 'text-bronce' :
									        'text-verde-oscuro'
									}">
									    <span th:text="${j.nombre}"></span>
									</td>


									<!-- Calificación -->
									<td><span th:utext="${'⭐'.repeat(j.calificacion)}"></span></td>

									<!-- ALBUM -->
									<td>
										<a th:href="${j.enlaceAlbum}" target="_blank" class="icon-link" th:classappend="${
										         (j.puesto >= 1 && j.puesto <= 3) ? ' icono-brillo-oro' :
												 (j.puesto >= 4 && j.puesto <= 10) ? ' icono-brillo-plata' :
												 (j.puesto >= 11 && j.puesto <= 15) ? ' icono-brillo-bronce' :
												 ''}">
											<i class="bi bi-images"></i>
										</a>
									</td>


									<!-- DRIVE -->
									<td>
										<a th:href="${j.enlaceDrive}" target="_blank" class="icon-link" th:classappend="${
												(j.puesto >= 1 && j.puesto <= 3) ? ' icono-brillo-oro' :
												(j.puesto >= 4 && j.puesto <= 10) ? ' icono-brillo-plata' :
												(j.puesto >= 11 && j.puesto <= 15) ? ' icono-brillo-bronce' :
								                 '' }">
											<i class="bi bi-cloudy-fill"></i>
										</a>
									</td>


									<!-- Correo -->
									<td th:classappend="${
									        (j.puesto >= 1 && j.puesto <= 3) ? 'text-oro' :
									        (j.puesto >= 4 && j.puesto <= 10) ? 'text-plata' :
									        (j.puesto >= 11 && j.puesto <= 15) ? 'text-bronce' :
									        'text-verde-oscuro'
									}">
									    <span th:text="${j.correo != null ? j.correo.email : '-'}"></span>
									</td>


									<!-- DETALLES -->
									<td>
										<a title="Ver" class="btn btn-info" th:attr="data-id=${j.id},
								                data-nombre=${j.nombre},
								                data-calificacion=${j.calificacion},
								                data-album=${j.enlaceAlbum},
								                data-drive=${j.enlaceDrive},
								                data-puesto=${j.puesto + '°'},
								                data-correo=${j.correo != null ? j.correo.email : 'No asignado'}"
											onclick="mostrarDetallesJuego(this)">
											<i class="bi bi-eye-fill" style="color: aliceblue;"></i>
										</a>
									</td>

									<!-- EDITAR -->
									<td>
										<a title="Editar" class="btn btn-warning"
											th:href="@{/usuario/EditJuego/{id} (id = ${j.id})}">
											<i class="bi bi-pencil-fill" style="color: aliceblue;"></i>
										</a>
									</td>

									<!-- ELIMINAR -->
									<td>								
										<a href="#" title="Eliminar" class="btn btn-primary btnEliminarJuego"
											 th:data-url="@{/usuario/DeleteJuego/{id}(id=${juego.id})}">
											<i class="bi bi-trash-fill" style="color: aliceblue;"></i>
										</a>
									</td>

								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div th:insert="~{usuario/template_user.html::footer}"></div>

		</div>
	</div>

	<!-- ========================= -->
	<!-- MODAL DETALLES DE JUEGO -->
	<!-- ========================= -->
	<div class="modal fade" id="detalleJuegoModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content bg-dark text-white border-0">

				<div class="modal-header border-secondary">
					<h5 class="modal-title">Detalles del juego</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">

					<div class="card-detalle">

						<div class="row">

							<div class="col-md-12">
								
								<h3 id="modalNombreJuego" class="fw-bold"></h3>

								<p>
								    <strong>Puesto:</strong>
								    <span id="modalPuestoJuego" class="fw-bold"></span>
								</p>
								<p>
								    <strong>Calificación:</strong>
								    <span id="modalCalificacionJuego"></span>
								</p>

								<p>
								    <strong>Correo:</strong>
								    <span id="modalCorreoJuego"></span>
								</p>

								<p>
								    <strong>Álbum:</strong>
								    <a id="modalAlbumJuego" href="#">Ver álbum</a>
								</p>

								<p>
								    <strong>Drive:</strong>
								    <a id="modalDriveJuego" href="#">Ver drive</a>
								</p>
							</div>

						</div>
					</div>

				</div>

				<div class="modal-footer border-secondary">
					<button class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
				</div>

			</div>
		</div>
	</div>

	<script>
		function mostrarDetallesJuego(btn) {
			document.getElementById("modalNombreJuego").innerText = btn.dataset.nombre;
			document.getElementById("modalCalificacionJuego").innerHTML = "⭐".repeat(btn.dataset.calificacion);
			document.getElementById("modalPuestoJuego").innerText = btn.dataset.puesto;
			document.getElementById("modalCorreoJuego").innerText = btn.dataset.correo;

			document.getElementById("modalAlbumJuego").href = btn.dataset.album;
			document.getElementById("modalDriveJuego").href = btn.dataset.drive;

			new bootstrap.Modal(document.getElementById("detalleJuegoModal")).show();
		}
	</script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<div th:insert="~{usuario/template_user.html::jsFiles}"></div>
	
	<div th:insert="~{usuario/template_user.html::BtnEliminar}"></div>

</body>

</html>