<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{usuario/template_user.html::head}"> </head>

<body>
	<div class="container-fluid position-relative d-flex p-0">

		<div th:insert="~{usuario/template_user.html::spinner}"></div>
		<div th:insert="~{usuario/template_user.html::sidebar}"></div>

		<div class="content">

			<div th:insert="~{usuario/template_user.html::navbar}"></div>

			<!-- CONTENIDO -->
			<div class="container-fluid pt-4 px-4">
				<div class="col-sm-12">
					<div class="bg-secondary rounded h-100 p-4">
						<h6 class="h2 text-white-50">Personajes</h6>

						<table class="table table-borderless">
							<thead>
								<tr class="center">
									<th scope="col" class="text-danger">Top</th>
									<th scope="col" class="text-danger">Img</th>
									<th scope="col" class="text-danger">Nombre</th>
									<th scope="col" class="text-danger">Calificación</th>
									<th scope="col" class="text-danger">Juego</th>

									<th scope="col" class="text-info">Detalles</th>
									<th scope="col" class="text-warning">Editar</th>
									<th scope="col" class="text-primary">Eliminar</th>
								</tr>
							</thead>

							<tbody th:each="person : ${personajes}">
								<tr class="center text-white">

									<!-- Puesto con medallas -->
									<td>
									    <span th:switch="true">

									        <!-- Mostrar medalla SOLO si el puesto está entre 1 y 30 -->
									        <i th:case="${person.puesto >= 1 && person.puesto <= 30}"
									           class="bi bi-award-fill"
											   style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
											   th:text="${person.puesto}"
									           th:classappend="${
									                person.puesto >= 1 && person.puesto <= 10 ? ' medalla-oro' :
									                person.puesto >= 11 && person.puesto <= 20 ? ' medalla-plata' :
									                person.puesto >= 21 && person.puesto <= 30 ? ' medalla-bronce' :
									                ''
									           }">
									        </i>

									        <!-- Mostrar número SOLO si el puesto es mayor a 30 -->
									        <span th:case="${person.puesto > 30}"
									              th:text="${person.puesto}"
									              class="text-verde fw-bold">
									        </span>

									    </span>
									</td>


									<!-- Imagen con brillo -->
									<td>
										<img th:src="@{'/images/' + ${person.imagen}}" class="img-mini spin-slow"
											th:classappend="${
                                        person.puesto <= 10 ? ' brillo-oro' :
                                        person.puesto <= 20 ? ' brillo-plata' :
                                        person.puesto <= 30 ? ' brillo-bronce' :
                                        ' brillo-verde'
                                     }" alt="img">
									</td>

									<!-- Nombre -->
									<td th:classappend="${
                                person.puesto <= 10 ? 'text-oro' :
                                person.puesto <= 20 ? 'text-plata' :
                                person.puesto <= 30 ? 'text-bronce' :
                                'text-verde'
                            }">
										<span th:text="${person != null ? person.nombre : '???'}"></span>
									</td>

									<!-- Estrellas -->
									<td>
										<span th:each="i : ${#numbers.sequence(1, person.estrellas)}" th:text="'⭐'"
											th:classappend="${person.estrellas == 5} ? ' estrella-oro' : ''"
											style="font-size: 1.4rem;">
										</span>
										<div style="margin-top: 2px; font-size: 70%;">
											<span th:text="${'(' + person.total + '%)'}"></span>
										</div>
									</td>


									<!-- Juego -->
									<td th:text="${person.juego != null ? person.juego.nombre : '-'}" th:classappend="${
                                    person.puesto <= 10 ? 'text-oro' :
                                    person.puesto <= 20 ? 'text-plata' :
                                    person.puesto <= 30 ? 'text-bronce' :
                                    'text-verde'
                                }">
									</td>

									<!-- Ver Detalles -->
									<td>
										<a class="btn btn-info" title="Ver" th:attr="
                                        data-id=${person.id},
                                        data-nombre=${person.nombre},
                                        data-img=${'/images/' + person.imagen},
                                        data-calificacion=${person.estrellas},
                                        data-juego=${person.juego != null ? person.juego.nombre : 'Sin juego'},
                                        data-puesto=${person.puesto + '°'},
                                        data-descripcion=${person.caracteristica}
                                   " onclick="mostrarDetalles(this)">
											<i class="bi bi-eye-fill" style="color: aliceblue;"></i>
										</a>
									</td>

									<!-- Editar -->
									<td>
										<a class="btn btn-warning" title="Editar"
											th:href="@{/usuario/EditPerson/{id}(id=${person.id})}">
											<i class="bi bi-pencil-fill" style="color: aliceblue;"></i>
										</a>
									</td>

									<!-- Eliminar -->
									<td>
										<a th:href="@{/usuario/DeletePerson/{id}(id=${person.id})}"
											class="btn btn-primary" title="Eliminar">
											<i class="bi bi-trash-fill" style="color: aliceblue;"></i>
										</a>
									</td>

								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div th:insert="~{usuario/template_user.html::footer}"></div>
		</div>
	</div>

	<!-- Modal Detalles -->
	<div class="modal fade" id="detallePersonajeModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content bg-dark text-white border-0">

				<div class="modal-header border-secondary">
					<h5 class="modal-title" id="modalTitulo">Detalles del personaje</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div id="cardContenedor" class="card-detalle">

						<div class="row">
							<div class="col-md-4 text-center">
								<img id="modalImagen" src="" class="img-fluid rounded mb-3 border-0" alt="Imagen">
							</div>

							<div class="col-md-8">

								<h3 id="modalNombre" class="fw-bold"></h3>

								<p class="mt-2">
									<strong>Calificación:</strong>
									<span id="modalCalificacion"></span>
								</p>

								<p>
									<strong>Juego:</strong>
									<span id="modalJuego"></span>
								</p>

								<p>
									<strong>Top:</strong>
									<span id="modalPuesto"></span>
								</p>

								<p>
									<strong>Descripción:</strong>
									<span id="modalDescripcion"></span>
								</p>
							</div>
						</div>

					</div>

					<div class="modal-footer border-secondary">
						<button class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div th:insert="~{usuario/template_user.html::jsFiles}"></div>
	<div th:insert="~{usuario/template_user.html::BtnEliminar}"></div>

	<script>
		function mostrarDetalles(btn) {
			document.getElementById("modalImagen").src = btn.dataset.img;
			document.getElementById("modalNombre").textContent = btn.dataset.nombre;

			// Estrellas en modal
			let est = btn.dataset.calificacion;
			document.getElementById("modalCalificacion").innerHTML = "⭐".repeat(est);


			document.getElementById("modalJuego").textContent = btn.dataset.juego;
			document.getElementById("modalPuesto").textContent = btn.dataset.puesto;
			document.getElementById("modalDescripcion").textContent = btn.dataset.descripcion;

			new bootstrap.Modal(document.getElementById("detallePersonajeModal")).show();
		}
	</script>

</body>

</html>