<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{usuario/template_user.html::head}"> </head>


<body>
	<div class="container-fluid position-relative d-flex p-0">

		<div th:insert="~{usuario/template_user.html::spinner}"></div>

		<div th:insert="~{usuario/template_user.html::sidebar}"></div>


		<!-- Content Start -->
		<div class="content">

			<div th:insert="~{usuario/template_user.html::navbar}"></div>

			<!-- Blank Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="row vh-150 bg-secondary rounded r justify-content-center mx-0">
					<div class="col-lg-12">
						<div class="bg-secondary rounded h-100 p-4">
							<h6 class="h2 text-white-50">Registro de juegos</h6>

							<form th:action="@{/usuario/JuegoSave}" method="post" enctype="multipart/form-data">

								<div class="row g-3">
									<div class="col-md-6">

										<label for="exampleInputEmail1" class="form-label">Nombre</label>
										<input type="text" class="form-control" id="nombre" name="nombre" required
											aria-describedby="emailHelp">

									</div>
									<div class="col-xl-6">
										<label class="form-label">Calificación</label>
										<select class="form-select col-lg-6" aria-label="Default select example"
											id="calificacion" name="calificacion" required>
											<option selected>Seleccione una calificación</option>
											<option value="5">⭐⭐⭐⭐⭐</option>
											<option value="4">⭐⭐⭐⭐</option>
											<option value="3">⭐⭐⭐</option>
											<option value="2">⭐⭐</option>
											<option value="1">💀</option>
										</select>
									</div>
									<div class="col-md-6">

										<label for="exampleInputPassword1" class="form-label">Album</label>
										<input type="url" class="form-control" id="enlaceAlbum" name="enlaceAlbum"
											required>

									</div>
									<div class="col-md-6">

										<label for="exampleInputPassword1" class="form-label">Drive</label>
										<input type="url" class="form-control" id="enlaceDrive" name="enlaceDrive"
											required>

									</div>

									<div class="mb-3">

										<label for="formFileMultiple" class="form-label">Portada/Identificador
											example</label>
										<input class="form-control bg-dark" type="file" id="img" name="img" multiple>
										<div id="emailHelp" class="form-text">Foto que represente el juego o que ayude a
											identificarlo.</div>

									</div>
									<div class="col-6">

										<label class="form-label">Correo</label>
										<select class="form-select col-lg-6" aria-label="Default select example"
											id="Correo" name="Correo.id">
											<option selected>Seleccione un correo</option>
											<option th:each="correo : ${correo}" th:value="${correo.id}"
												th:text="${correo.email}"></option>
										</select>

									</div>

									<div class="col-12 text-center">

										<button type="submit" class="btn btn-primary">Ingresar</button>

									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Blank End -->
			<div th:insert="~{usuario/template_user.html::footer}">

			</div>
		</div>
	</div>
	<div th:insert="~{usuario/template_user.html::jsFiles}"></div>

</body>

</html>

</html>